.task-desk {
    width: 90%;
    border: 1px solid #01E7C7;
    margin: 20px auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-input-container {
    position: relative;
}

.select-desk {
    color: #0000008c;
    padding: 5px;
    border-radius: 4px;
    font-weight: 900;
}

.filter-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: #00000061;
    border: 1px solid teal;
}

.task-container {
    width: 90%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items: baseline;
}

.desk-noMatches {
    margin: 15px auto;
    font-size: 20px;
}

.search-btn {
    width: 23px;
    height: 22px;
    right: 4px;
    top: 5px;
    position: absolute;
    border: none;
    background-image: url("../img/search.svg");
    background-size: cover;
    background-color: transparent;
    outline: none;
    z-index: 1000;
}

.search-btn:hover {
    cursor: pointer;
}

.card {
    overflow: hidden;
    position: relative;
    width: 250px;
    font-size: 18px;
    border: 1px solid black;
    padding: 19px 15px 15px 15px;
    margin: 10px;
    background: teal;
    opacity: 0.9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.edit-btn:hover, .delete-btn:hover, .details-btn:hover {
    cursor: pointer;
}

.edit-btn {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 900;
    position: absolute;
    bottom: 7px;
    right: 7px;
    padding: 4px;
}

.details-btn {
    background-color: #000000a1;
    color: white;
    display: block;
    margin: 10px auto;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 2px 6px;
    font-size: 15px;
}

.delete-btn {
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 900;
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.doctorDetails {
    display: flex;
    flex-direction: column;
}

.desk-noInfo,
.desk-noMatches {
    font-size: 30px;
    color: darkred;
    position: absolute;
    text-align: center;
    padding: 260px 0 0 10px;
    font-weight: bold;
}

.remove {
    display: none;
}