.visit-form{
    margin-top: 5px;
    position: absolute;
    top:50%;
    left:calc(50% - 150px);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    width :300px;
    height: 300px;
    background-color: teal;
    border-radius: 5%;
    border: 5px solid black;
    box-shadow: 0 11px 15px 14px black;
}
.form-input, .form-select{
    width: 250px;
    height: 25px;
    border: none;
}
.form-hidden{
    display: none;
}
.form-container{
    display: flex;
    justify-content: center;
}
.doctor-select{
    z-index: 2000;
    height: 50px;
    position: absolute;
    top:calc(50% - 50px);
    left:calc(50% - 80px);
    display: block;
    margin: 0 auto;
    background-color: teal;
    border: 5px solid black;
    border-radius: 5%;
    font-size: 19px;
    margin-bottom: 10px;
    color: white;
}
.doctor-select.form-hidden{
    display: none;
}

.close-form-btn{
    align-self: flex-end;
    margin: -25px -16px 9px 0;
}
.close-form-btn:hover,
.form-submit:hover{
    cursor: pointer;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
}