.wrapper {
    background-image: url("../img/background.png");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: teal;
    OPACITY: 0.8;
}
.header__logo {
    margin-left: 20px;
}
.header__logo-text {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: lightskyblue;
}
.header__logo-text.green {
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 5px;
}
.header__create-button,
.header__login-button {
    outline: none;
    margin-right: 20px;
    font-size: 30px;
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: black;
    border-radius: 10px;
}
.header__create-button {
    display: none;
}
.header__create-button:hover,
.header__login-button:hover {
    font-size: 32px;
    cursor: pointer;
}
.signInForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
}
.signInForm__body {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    background: teal;
}
.signInForm__email,
.signInForm__password {
    align-self: center;
    box-sizing: border-box;
    text-align: center;
    width: 90%;
    border: 1px solid black;
    margin: 15px;
    height: 50px;
    font-size: 16px;
}
.signInForm__submitBtn {
    align-self: center;
    width: 50%;
    height: 50px;
    margin-top: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
}
.signInForm__closeBtn {
    border: 1px solid black;
    align-self: flex-end;
    height: 25px;
    width: 25px;
    margin: 5px;
}
.signInForm__closeBtn:hover,
.signInForm__submitBtn:hover {
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
/*.card {*/
/*    color: green;*/
/*    font-size: 20px;*/
/*    background: yellow;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border: 1px solid black;*/
/*    padding: 20px;*/
/*}*/